.song-btn{
  border: 1px solid gray;
  border-radius: .25rem;
  padding: 10px;
  background-color: #525c66;
  color: white;
  text-decoration: none;
}
.song-btn:hover{
  background-color: #282a2d;
  color: white;
}