<!DOCTYPE html>
<html lang="ko">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- link -->
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/template.css}">
  <script th:src="@{/bootstrap.min.js}"></script>
  <title>song list</title>
</head>
<body>
  <!-- navbar -->
  <nav th:replace="~{navbar :: navbarFragment}"></nav>
  <!-- body start -->
  <th:block layout:fragment="content"></th:block>
  <!-- JavaScript -->
  <th:block layout:fragment="script"></th:block>
</body>
</html>