<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/song_detail.css}">
</head>
<div layout:fragment="content">
  <div id="info">
    <div class="card" style="margin: 5px;">
      <ul class="list-group list-group-flush">
        <h4 class="card-header">곡 제목</h4>
        <li th:text="${song.title}" class="list-group-item"></li>
        <h4 class="card-header">곡 정보</h4>
        <li th:text="${song.detail}" class="list-group-item"></li>
        <h4 class="card-header">작성자</h4>
        <li th:if="${song.author != null}" class="list-group-item" th:text="${song.author.username}"></li>
        <div th:if="${song.updateDate != null}">
          <h4 class="card-header">수정 일시</h4>
          <li th:text="${#temporals.format(song.updateDate, 'yyyy-MM-dd HH:mm')}"></li>
        </div>
      </ul>
      <a href="javascript:void(0);" class="recommend btn"
         th:data-uri="@{|/song/vote/${song.id}|}">추천
        <span class="badge rounded-pill" th:text="${#lists.size(song.voter)}"></span>
      </a>
      <a th:href="@{|/song/modify/${song.id}|}" class="btn"
         sec:authorize="isAuthenticated()"
         th:if="${song.author != null and #authentication.getPrincipal().getUsername() == song.author.username}"
         th:text="수정"></a>
      <a href="javascript:void(0);" th:data-uri="@{|/song/delete/${song.id}|}" class="delete btn"
         sec:authorize="isAuthenticated()"
         th:if="${song.author != null and #authentication.getPrincipal().getUsername() == song.author.username}"
         th:text="삭제"></a>
    </div>

    <div>
      <h5 th:text="|${#lists.size(song.commentList)}개의 댓글이 있습니다.|"></h5>
      <div th:each="comment : ${song.commentList}">
        <!--Anchor-->
        <div class="card" id="comment">
          <div class="card-body">
            <a th:id="|comment_${comment.id}|"></a>
            <div th:text="${comment.content}"></div>
            <div class="d-flex justify-content-end">
              <!-- 수정일시 -->
              <div th:if="${comment.updateDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                <div class="mb-2">수정 일시</div>
                <div th:text="${#temporals.format(comment.updateDate, 'yyyy-MM-dd HH:mm')}"></div>
              </div>
              <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2">
                  <span th:if="${comment.author != null}" th:text="${comment.author.username}"></span>
                </div>
                <div th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
              </div>
            </div>
            <a href="javascript:void(0);" class="recommend btn"
               th:data-uri="@{|/comment/vote/${comment.id}|}">추천
              <span class="badge rounded-pill" th:text="${#lists.size(comment.voter)}"></span>
            </a>
            <a th:href="@{|/comment/modify/${comment.id}|}" class="btn"
                sec:authorize="isAuthenticated()"
                th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                th:text="수정"></a>
            <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.id}|}"
               class="delete btn" sec:authorize="isAuthenticated()"
               th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
               th:text="삭제"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  비어있는 입력값의 에러 표시  -->
  <form th:action="@{|/comment/create/${song.id}|}" th:object="${commentForm}" method="post">
    <!--   form_errors 템플릿 사용   -->
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>

    <!-- 로그인 상태에 따라 textarea 작성 방지 -->
    <textarea name="content" id="content" rows="15" th:field="*{content}" sec:authorize="isAnonymous()" disabled></textarea>
    <textarea name="content" id="content" rows="15" th:field="*{content}" sec:authorize="isAuthenticated()"></textarea>
    <input type="submit" value="댓글등록" class="btn">
  </form>
</div>
<script layout:fragment="script" type='text/javascript'>
  const delete_elements = document.getElementsByClassName("delete");
  Array.from(delete_elements).forEach(function(element) {
      element.addEventListener('click', function() {
          if(confirm("정말로 삭제하시겠습니까?")) {
              location.href = this.dataset.uri;
          };
      });
  });
  const recommend_elements = document.getElementsByClassName("recommend");
  Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
      if(confirm("정말로 추천하시겠습니까?")) {
        location.href = this.dataset.uri;
      };
    });
  });
</script>
</html>