<html layout:decorate="~{layout}">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/song_detail.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/template.css}">
</head>
<div layout:fragment="content">
  <div id="info">
    <div class="card" style="margin: 5px;">
      <ul class="list-group list-group-flush">
        <h4 class="card-header">곡 제목</h4>
        <li th:text="${song.title}" class="list-group-item"></li>
        <h4 class="card-header">곡 정보</h4>
        <li th:text="${song.detail}" class="list-group-item"></li>
      </ul>
    </div>

    <div>
      <h5 th:text="|${#lists.size(song.commentList)}개의 댓글이 있습니다.|"></h5>
      <div th:each="comment : ${song.commentList}">
        <div class="card" id="comment">
          <div class="card-body">
            <div th:text="${comment.content}"></div>
            <div class="d-flex justify-content-end">
              <div class="badge bg-light text-dark p-2 text-start">
                <div th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  비어있는 입력값의 에러 표시  -->
  <form th:action="@{|/comment/create/${song.id}|}" th:object="${commentForm}" method="post">
    <!--   form_errors 템플릿 사용   -->
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>

    <textarea name="content" id="content" rows="15" th:field="*{content}"></textarea>
    <input type="submit" value="댓글등록" class="btn">
  </form>
</div>
</html>